<%- include('partials/header') %>
    <%- include('home/navbar') %>
        <%- include('home/jumbotron') %>

            <div class="center mt-5">
                <center>
                    <img src="images/hospital.png" width="200px" height="200px">
                </center>
                <center class="mt-3">
                    <p class="find-near-bed">Find near vacant bed <br><a href="/hospitals">Click here</a> </p>
                </center>
            </div>
            </div>
            <div class="center mt-5" href="/oxygen">
                <center>
                    <img src="images/oxygen.jpg" class="image-home" width="200px" height="200px">
                </center>
                <center class="mt-3">
                    <p class="find-near-bed">Track and get contact from genuine <br>
                        oxygen cylinder providers <br><a href="/oxygen">Click here</a></p>
                </center>
            </div>
            </div>





            <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <%- include('partials/footer') %>