<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Let fight against Covid-19</h1>
        <p class="lead">
            This website can help you to find vacancy of bed and able to track and get contact from genuine
            oxygen cylinder providers.
        </p>
    </div>
</div>